In this problem i scraaped a data from a public website to sell properties or any thing u want 
i scrapped the appartments in cairo with its districts to predict the good price with the apartment features to list it

In [1]:
import joblib
import time
import mysql.connector
from datetime import date
from dateutil.relativedelta import relativedelta
from datetime import datetime, timedelta
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer

In [2]:
ads,url_stack=joblib.load('state.pkl')

In [3]:

df=pd.DataFrame.from_records(ads)
df

# df = pd.read_csv('olx_data_36K_V2.csv')
# df

,url,title,date,Location,Compound,Type,Price,Area (m²),Bedrooms,Level,Furnished,Price Type,Bathrooms,Payment Option,Description,Amenities,Delivery Term,Delivery Date,Down Payment
0,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بسكن مصر الاندلس مسلسل 1,2 months ago,New Cairo - El Tagamoa,2020 Compound,Apartment,"175,000",115,3,3,No,Price,1,Cash,شقة لقطة للبيع بسكن مصر الاندلس دور متكرر فيو ...,Landline; Natural Gas; Water Meter; Electricit...,NaN,NaN,NaN
1,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس مرحله ١ للبيع شقه دور اول ١١٥,2 weeks ago,New Cairo - El Tagamoa,NaN,Apartment,"180,000",115,3,1,No,Price,1,Cash,للبيع دور اول\nفيو تحفه\nالأوفر ١٨٠ الف لسرعه ...,Natural Gas; Water Meter; Electricity Meter; S...,Finished,Ready to move,NaN
2,https://www.olx.com.eg/en/ad/%D9%84%D9%82%D8%B...,لقطه سكن مصر التجمع التالت افر 150 الف,1 month ago,New Cairo - El Tagamoa,NaN,Apartment,"150,000",115,3,2,No,Price,1,Cash,للبيت شقه سكن مصر التجمع التالت مسلسل 9\nمرحله...,NaN,Finished,Ready to move,NaN
3,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بمدينة عمر بن الخطاب - آخر جسر السويس,2 days ago,New Cairo - El Tagamoa,NaN,Apartment,"450,000",135,3,7,No,Negotiable,1,Cash,شقة عبارة عن نصف دور بها عدد 3 جهاز تكييف وسخا...,Elevator; Natural Gas; Balcony,Finished,Ready to move,NaN
4,https://www.olx.com.eg/en/ad/%D9%84%D8%B3%D8%B...,لسرعه البيع شقه سكن مصر التجمع التالت,1 month ago,New Cairo - El Tagamoa,NaN,Apartment,"160,000",115,3,2,No,Price,1,Cash,لقطه لسرعه البيع شقه سكن مصر التجمع التالت مسل...,NaN,Finished,Ready to move,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع إمتداد مدينة 15 مايو مساحة 125م,1 month ago,15 May City,NaN,Apartment,"550,000",125,3,2,NaN,Negotiable,1,NaN,شقة للبيع إمتداد مدينة 15 مايو مساحة 125م \...,NaN,Core & Shell,Ready to move,NaN
37705,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بكمبوند دار مصر دور ثالث,1 week ago,15 May City,Dar Misr,Apartment,"600,000",140,3,3,No,Negotiable,3,NaN,شقة للبيع بكمبوند دار مصر 15 مايو دور ثالث بحر...,NaN,Finished,Ready to move,"600,000"
37706,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع,2 months ago,15 May City,NaN,Apartment,"470,000",80,2,5,No,Negotiable,1,Cash,شقه للبيع بارقي مكان بالإسكندرية أبراج رمادا ب...,Elevator; Natural Gas; Water Meter; Electricit...,Finished,Ready to move,NaN
37707,https://www.olx.com.eg/en/ad/%D9%84%D9%84%D8%A...,للبيع,2 months ago,15 May City,NaN,Apartment,"470,000",100,2,4,No,Price,1,Cash,شقة للبيع بمدينة ١٥ مايو مجاورة ٥ \nقريبة من ج...,Landline; Water Meter; Electricity Meter; Pets...,Finished,Ready to move,NaN
37708,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة دور ارضي مرتفع سوبر لوكس مجاورة 15,3 weeks ago,15 May City,NaN,Apartment,"440,000",105,3,Ground,NaN,Price,2,NaN,شقة دور ارضي مرتفع 3 غرف وصالة \n2 حمام ومطبخ ...,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37709 entries, 0 to 37708
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   url             37709 non-null  object
 1   title           37709 non-null  object
 2   date            37709 non-null  object
 3   Location        37709 non-null  object
 4   Compound        13610 non-null  object
 5   Type            37709 non-null  object
 6   Price           37709 non-null  object
 7   Area (m²)       37709 non-null  object
 8   Bedrooms        37709 non-null  object
 9   Level           37709 non-null  object
 10  Furnished       28677 non-null  object
 11  Price Type      37709 non-null  object
 12  Bathrooms       37709 non-null  object
 13  Payment Option  33569 non-null  object
 14  Description     37709 non-null  object
 15  Amenities       28301 non-null  object
 16  Delivery Term   25879 non-null  object
 17  Delivery Date   28539 non-null  object
 18  Down Payment    10286 non-null  object
dtypes: object(19)
memory usage: 5.5+ MB

# Filling missing Values  loading
all missing values filling written here

In [5]:
df['Delivery Term'].replace('Finished',1, inplace=True)
df['Delivery Term'].replace('Not Finished',0 ,inplace = True)
df['Delivery Term'].replace('Semi Finished',0.5 ,inplace = True)
df['Delivery Term'].replace('Core & Shell',0.75 ,inplace = True)
df['Delivery Term'].unique()

array([ nan, 1.  , 0.  , 0.5 , 0.75])

In [6]:
# df['amenities'].isna().sum()
imputer = SimpleImputer(strategy='constant',fill_value='')

imputer2 = SimpleImputer(strategy='constant',fill_value='Cash')
imputer3 = SimpleImputer(strategy='constant',fill_value='Ready to move')
imputer4 = SimpleImputer(strategy='constant',fill_value=0)
imputer5 = SimpleImputer(strategy='most_frequent')
imputer6 = KNNImputer(n_neighbors=4)

df[['Amenities']] = imputer.fit_transform(df[['Amenities']])
df[['Delivery Date']] = imputer3.fit_transform(df[['Delivery Date']])
df[['Down Payment']] = imputer4.fit_transform(df[['Down Payment']])
df[['Furnished']] = imputer5.fit_transform(df[['Furnished']])

df[['Delivery Term']] = imputer6.fit_transform(df[['Delivery Term']])
df[['Payment Option']] = imputer2.fit_transform(df[['Payment Option']])

Down payment conversion from string to int

In [7]:
df["Down Payment"] = [float(str(i).replace(",", "")) for i in df["Down Payment"]]
df['Down Payment']=df['Down Payment'].astype(int)

In [8]:
df['Delivery Term'].astype(str)
df['Delivery Term'].replace(1,'Finished', inplace=True)
df['Delivery Term'].replace(0,'Not Finished' ,inplace = True)
df['Delivery Term'].replace(0.5,'Semi Finished' ,inplace = True)
df['Delivery Term'].replace(0.75,'Core & Shell' ,inplace = True)
df['Delivery Term'].replace(0.7807295490552185,'Core & Shell',inplace = True)

In [9]:
df['Delivery Term'].value_counts()

Finished         15325
Core & Shell     12972
Semi Finished     8046
Not Finished      1366
Name: Delivery Term, dtype: int64

In [10]:
df['amenities'].isna().sum()

KeyError: 'amenities'

# amenities

In [11]:
list_ament=['Electricity Meter', 'Balcony','Water Meter','Elevator',
            'Security','Natural Gas','Landline','Pets Allowed','Covered Parking',
            'Private Garden','Pool','Maids Room','Central A/C & heating',
            'Built in Kitchen Appliances']

ls1 = ['مياة', 'عداد كهرباء','غاز','تكييف مركزي','مصعد','حمام سباحه','جاردن','بلكونة']
ls2 = ['Water Meter', 'Electricity Meter', 'Natural Gas','Central A/C & heating','Elevator','Pool','Private Garden','Balcony']
mny_map = dict(zip(ls2, ls1))

def check_amenity(row, col):
    if col in row['Amenities'] or mny_map.get(col, 'none') in row['Description'] :
        return 1
    else:
        return 0

for col in list_ament:
    df[col] = df.apply(check_amenity, args=[col], axis=1)

In [12]:
mny_map.get('Water Meter','none')

'مياة'

In [13]:
for x in list_ament:
    df[x]=df[x].replace(True,1)
    df[x]=df[x].replace(False,0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37709 entries, 0 to 37708
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          37709 non-null  object
 1   title                        37709 non-null  object
 2   date                         37709 non-null  object
 3   Location                     37709 non-null  object
 4   Compound                     13610 non-null  object
 5   Type                         37709 non-null  object
 6   Price                        37709 non-null  object
 7   Area (m²)                    37709 non-null  object
 8   Bedrooms                     37709 non-null  object
 9   Level                        37709 non-null  object
 10  Furnished                    37709 non-null  object
 11  Price Type                   37709 non-null  object
 12  Bathrooms                    37709 non-null  object
 13  Payment Option               37709 non-null  object
 14  Description                  37709 non-null  object
 15  Amenities                    37709 non-null  object
 16  Delivery Term                37709 non-null  object
 17  Delivery Date                37709 non-null  object
 18  Down Payment                 37709 non-null  int32
 19  Electricity Meter            37709 non-null  int64
 20  Balcony                      37709 non-null  int64
 21  Water Meter                  37709 non-null  int64
 22  Elevator                     37709 non-null  int64
 23  Security                     37709 non-null  int64
 24  Natural Gas                  37709 non-null  int64
 25  Landline                     37709 non-null  int64
 26  Pets Allowed                 37709 non-null  int64
 27  Covered Parking              37709 non-null  int64
 28  Private Garden               37709 non-null  int64
 29  Pool                         37709 non-null  int64
 30  Maids Room                   37709 non-null  int64
 31  Central A/C & heating        37709 non-null  int64
 32  Built in Kitchen Appliances  37709 non-null  int64
dtypes: int32(1), int64(14), object(18)
memory usage: 9.4+ MB

In [14]:
df['Water Meter'].value_counts()

1    19901
0    17808
Name: Water Meter, dtype: int64

In [15]:
df.rename({'Area_(m²)': 'Area'},inplace=True)
df.columns = df.columns.str.replace(' ','_')
df.rename(columns = {'area_(m²)':'Area','central_a/c_&_heating':'Central_AC_heating'}, inplace = True)
df.columns = df.columns.str.lower()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37709 entries, 0 to 37708
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          37709 non-null  object
 1   title                        37709 non-null  object
 2   date                         37709 non-null  object
 3   location                     37709 non-null  object
 4   compound                     13610 non-null  object
 5   type                         37709 non-null  object
 6   price                        37709 non-null  object
 7   area_(m²)                    37709 non-null  object
 8   bedrooms                     37709 non-null  object
 9   level                        37709 non-null  object
 10  furnished                    37709 non-null  object
 11  price_type                   37709 non-null  object
 12  bathrooms                    37709 non-null  object
 13  payment_option               37709 non-null  object
 14  description                  37709 non-null  object
 15  amenities                    37709 non-null  object
 16  delivery_term                37709 non-null  object
 17  delivery_date                37709 non-null  object
 18  down_payment                 37709 non-null  int32
 19  electricity_meter            37709 non-null  int64
 20  balcony                      37709 non-null  int64
 21  water_meter                  37709 non-null  int64
 22  elevator                     37709 non-null  int64
 23  security                     37709 non-null  int64
 24  natural_gas                  37709 non-null  int64
 25  landline                     37709 non-null  int64
 26  pets_allowed                 37709 non-null  int64
 27  covered_parking              37709 non-null  int64
 28  private_garden               37709 non-null  int64
 29  pool                         37709 non-null  int64
 30  maids_room                   37709 non-null  int64
 31  central_a/c_&_heating        37709 non-null  int64
 32  built_in_kitchen_appliances  37709 non-null  int64
dtypes: int32(1), int64(14), object(18)
memory usage: 9.6+ MB

In [16]:
df['date']

0        2 months ago
1         2 weeks ago
2         1 month ago
3          2 days ago
4         1 month ago
             ...
37704     1 month ago
37705      1 week ago
37706    2 months ago
37707    2 months ago
37708     3 weeks ago
Name: date, Length: 37709, dtype: object

Working with the date column to make the date from "1 month ago "  to "22/5/20122"

In [17]:
def date_correct(x):

    after_split= x.split(' ')
    if ('days' or 'day') in after_split[1]:
        listing_date = date.today() + relativedelta(days=-int(after_split[0]))
        return(str(listing_date))
    
    elif ('months' or 'month') in after_split[1] :
        listing_date = date.today() + relativedelta(months=-int(after_split[0]))
        
        return(str(listing_date))
    elif('weeks' or 'week') in after_split[1] :
        listing_date = date.today() + relativedelta(weeks=-int(after_split[0]))
        return(str(listing_date))
    else :  
        return(str(date.today()))

In [18]:
df['date'] = df['date'].apply(date_correct)

In [19]:
df['date']

0        2022-02-28
1        2022-04-14
2        2022-04-28
3        2022-04-26
4        2022-04-28
            ...
37704    2022-04-28
37705    2022-04-28
37706    2022-02-28
37707    2022-02-28
37708    2022-04-07
Name: date, Length: 37709, dtype: object

Convert date to datetime object

In [20]:
df['date']=pd.to_datetime(df['date'],format='%Y/%m/%d')

Extract month from column date

In [21]:
df['month']=df['date'].apply(lambda x: x.month)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37709 entries, 0 to 37708
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          37709 non-null  object
 1   title                        37709 non-null  object
 2   date                         37709 non-null  datetime64[ns]
 3   location                     37709 non-null  object
 4   compound                     13610 non-null  object
 5   type                         37709 non-null  object
 6   price                        37709 non-null  object
 7   area_(m²)                    37709 non-null  object
 8   bedrooms                     37709 non-null  object
 9   level                        37709 non-null  object
 10  furnished                    37709 non-null  object
 11  price_type                   37709 non-null  object
 12  bathrooms                    37709 non-null  object
 13  payment_option               37709 non-null  object
 14  description                  37709 non-null  object
 15  amenities                    37709 non-null  object
 16  delivery_term                37709 non-null  object
 17  delivery_date                37709 non-null  object
 18  down_payment                 37709 non-null  int32
 19  electricity_meter            37709 non-null  int64
 20  balcony                      37709 non-null  int64
 21  water_meter                  37709 non-null  int64
 22  elevator                     37709 non-null  int64
 23  security                     37709 non-null  int64
 24  natural_gas                  37709 non-null  int64
 25  landline                     37709 non-null  int64
 26  pets_allowed                 37709 non-null  int64
 27  covered_parking              37709 non-null  int64
 28  private_garden               37709 non-null  int64
 29  pool                         37709 non-null  int64
 30  maids_room                   37709 non-null  int64
 31  central_a/c_&_heating        37709 non-null  int64
 32  built_in_kitchen_appliances  37709 non-null  int64
 33  month                        37709 non-null  int64
dtypes: datetime64[ns](1), int32(1), int64(15), object(17)
memory usage: 9.9+ MB

converting Price from string to integers and thier was a problem with 100','000 this comma so we tried to replace it with non space to make it convertable

In [23]:
df["price"] = [float(str(i).replace(",", "")) for i in df["price"]]
df['price']=df['price'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37709 entries, 0 to 37708
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          37709 non-null  object
 1   title                        37709 non-null  object
 2   date                         37709 non-null  datetime64[ns]
 3   location                     37709 non-null  object
 4   compound                     13610 non-null  object
 5   type                         37709 non-null  object
 6   price                        37709 non-null  int32
 7   area_(m²)                    37709 non-null  object
 8   bedrooms                     37709 non-null  object
 9   level                        37709 non-null  object
 10  furnished                    37709 non-null  object
 11  price_type                   37709 non-null  object
 12  bathrooms                    37709 non-null  object
 13  payment_option               37709 non-null  object
 14  description                  37709 non-null  object
 15  amenities                    37709 non-null  object
 16  delivery_term                37709 non-null  object
 17  delivery_date                37709 non-null  object
 18  down_payment                 37709 non-null  int32
 19  electricity_meter            37709 non-null  int64
 20  balcony                      37709 non-null  int64
 21  water_meter                  37709 non-null  int64
 22  elevator                     37709 non-null  int64
 23  security                     37709 non-null  int64
 24  natural_gas                  37709 non-null  int64
 25  landline                     37709 non-null  int64
 26  pets_allowed                 37709 non-null  int64
 27  covered_parking              37709 non-null  int64
 28  private_garden               37709 non-null  int64
 29  pool                         37709 non-null  int64
 30  maids_room                   37709 non-null  int64
 31  central_a/c_&_heating        37709 non-null  int64
 32  built_in_kitchen_appliances  37709 non-null  int64
 33  month                        37709 non-null  int64
dtypes: datetime64[ns](1), int32(2), int64(15), object(16)
memory usage: 9.8+ MB

In [24]:
df['price'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37709 entries, 0 to 37708
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          37709 non-null  object
 1   title                        37709 non-null  object
 2   date                         37709 non-null  datetime64[ns]
 3   location                     37709 non-null  object
 4   compound                     13610 non-null  object
 5   type                         37709 non-null  object
 6   price                        37709 non-null  int32
 7   area_(m²)                    37709 non-null  object
 8   bedrooms                     37709 non-null  object
 9   level                        37709 non-null  object
 10  furnished                    37709 non-null  object
 11  price_type                   37709 non-null  object
 12  bathrooms                    37709 non-null  object
 13  payment_option               37709 non-null  object
 14  description                  37709 non-null  object
 15  amenities                    37709 non-null  object
 16  delivery_term                37709 non-null  object
 17  delivery_date                37709 non-null  object
 18  down_payment                 37709 non-null  int32
 19  electricity_meter            37709 non-null  int64
 20  balcony                      37709 non-null  int64
 21  water_meter                  37709 non-null  int64
 22  elevator                     37709 non-null  int64
 23  security                     37709 non-null  int64
 24  natural_gas                  37709 non-null  int64
 25  landline                     37709 non-null  int64
 26  pets_allowed                 37709 non-null  int64
 27  covered_parking              37709 non-null  int64
 28  private_garden               37709 non-null  int64
 29  pool                         37709 non-null  int64
 30  maids_room                   37709 non-null  int64
 31  central_a/c_&_heating        37709 non-null  int64
 32  built_in_kitchen_appliances  37709 non-null  int64
 33  month                        37709 non-null  int64
dtypes: datetime64[ns](1), int32(2), int64(15), object(16)
memory usage: 9.8+ MB

Amenities extraction and make nan values = '''' to make it All false

In [ ]:
# df['Amenities'].isna().sum()
# imputer = SimpleImputer(strategy='constant',fill_value='')
# df[['Amenities']] = imputer.fit_transform(df[['Amenities']])
# #df[['compound']] = imputer.fit_transform(df[['compound']])


# imputer2 = SimpleImputer(strategy='constant',fill_value='Cash')
# df[['Payment Option']] = imputer2.fit_transform(df[['Payment Option']])

In [ ]:
# list_ament=['Electricity Meter', 'Balcony','Water Meter','Elevator',
#             'Security','Natural Gas','Landline','Pets Allowed','Covered Parking',
#             'Private Garden','Pool','Maids Room','Central A/C & heating',
#             'Built in Kitchen Appliances']

# for col in list_ament:

#     df[col] = df['amenities'].str.contains(col) 
 
df.info()

In [25]:
df.isna().sum()

url                                0
title                              0
date                               0
location                           0
compound                       24099
type                               0
price                              0
area_(m²)                          0
bedrooms                           0
level                              0
furnished                          0
price_type                         0
bathrooms                          0
payment_option                     0
description                        0
amenities                          0
delivery_term                      0
delivery_date                      0
down_payment                       0
electricity_meter                  0
balcony                            0
water_meter                        0
elevator                           0
security                           0
natural_gas                        0
landline                           0
pets_allowed                       0
covered_parking                    0
private_garden                     0
pool                               0
maids_room                         0
central_a/c_&_heating              0
built_in_kitchen_appliances        0
month                              0
dtype: int64

Replacing Price value in column Price Type to Not Negotiable

In [26]:
df['price_type'].unique()

array(['Price', 'Negotiable'], dtype=object)

In [30]:
df['price_type'] = [i.replace("Price", "Not Negotiable") for i in df['price_type']]

In [31]:
df['price_type'].unique()

array(['Not Negotiable', 'Negotiable'], dtype=object)

In [32]:
df['compound'].unique()

array(['2020 Compound', nan, 'Dar Misr', 'ALBA', 'Upville',
       'Not in Compound', 'Andalus', 'Zahret El Tagamo', 'Haram City',
       'Al Diyar', 'Nakheel', 'Light City', 'Madinaty', 'Stone Residence',
       'Galleria Moon Valley', 'Amorada', 'Fifth Square', 'Al Burouj',
       'Dreamland', 'Eastown', 'Jayd', 'The Address East',
       'Al Riyadh Secon', 'Makany', 'Uptown Cairo', 'Sun City',
       'Baron City', 'Rehab City', 'Zizinia Gardens', 'Ritage', 'Mivida',
       'Mountain View iCity', 'Sun City Gardens', 'El Khamayel',
       'GCR Golf City', 'Highland Park', 'Sarai', 'Hyde Park New Cairo',
       'Galleria', 'La Mirada', 'Al Yasmine', 'Tag Sultan', 'Asala',
       'Arabella Village', 'The Square', 'Smart Life', 'AZAD',
       'Sky View Premier', 'Flowers Park', 'Family City',
       'Hayati Residence', 'One Kattameya', 'Zahwa', 'Regents Park',
       'Hayah Residence', 'Katameya Plaza', 'Mena Residence',
       'Mountain View Hyde Park', 'Promenade New Cairo',
       'Village Gardens Katameya', 'Sodic East', 'VGK', 'Midtown',
       'Mirage Residence', 'Park View', 'Katameya Breeze',
       'Palm Hills New Cairo', 'District 5 Compound', 'Atrio',
       '90 Avenue', 'EL Patio 7', 'Villette', 'Swan Lake', 'Lake View',
       'The Waterway Compound', 'Abu Al-Hool', 'Gardenia', 'Degla Palms',
       'Grand Heights', 'Kattameya Gardens', 'Taj City', 'L’Avenir',
       'Lake view Residence', 'Porto New Cairo', 'Katameya Heights',
       'The Village', 'Zed East', 'Bloomfields', 'Trio Gardens',
       'Cairo Festival City', 'Degla Towers', 'Capital Heights 2',
       'Atika', 'EL Patio ORO', 'Village Gate', 'Beit Al Watan',
       'Sky Condos Sodic', 'Sephora Heights', 'Blue Vert', 'Beta Greens',
       'Village Avenue', 'IL Bosco', 'The Brooks', 'Castle Landmark',
       'Haptown', 'Noor City', 'La Fontaine Province', 'Ivy Residence',
       'Granda', 'Grand Gate', 'Rock Vera', 'Midtown Condo', 'Il Mondo',
       'EL Patio Casa', 'Hayat Heights', 'Aria', 'Roses', 'Century City',
       'Neopolis', 'OIA', 'Odyssia', 'Heliopolis Residence', 'Six West',
       'Oriana', 'Scenario', 'La Vida', 'High City', 'Sun Capital',
       'Moon City', 'Garden Hills', 'Bel Air - Sodic', 'Paradise', 'Yaru',
       'Rock Ville', 'ABHA', 'Capital Gardens', 'Quattro',
       'Mountain View Executive', 'The Icon Residence', 'Grand Residence',
       'Ashgar City', 'Hadaba', 'El Shorouk Springs', 'Woodville',
       'Korba Heights', 'Italian Square', 'Concord Gardens', 'Diplomats',
       'Serena Heights', 'Sheraton Residence', 'Akoya', 'El Patio',
       'Leila', 'The Axis', 'Scene 7', 'The View', 'Kattameya Gate',
       'IL Bosco City', 'Degla View', 'Maadi V', 'Baet El Masria',
       'Catalan', 'Zizinia El Mostakbal', 'De Joya', 'Botanica',
       'Midtown Sky', 'Rhodes', 'Porto Cairo', 'Park Lane',
       'Green Square', 'The City', 'Mountain View 1',
       'Palm Hills Alexandria', 'Stone Park', 'Leena Springs', 'The Loft',
       'Sarayat El Kattameya', 'Moon Valley', 'Nest Cairo', 'Celia',
       'Monte Napoleon', 'Rivan', 'Moon Garden', 'Aswar', 'Beta Gardens',
       'Life Garden', 'Degla Landmark', 'La Rose', 'Alico city',
       'Rawdat Zayed', 'Ashrafeya', 'Arabia', 'Dyar', 'Armonia',
       'Creek Town', 'Arabia Gate', 'Serrano', 'Opera City',
       'Future Gate', 'Mountain View 2', 'Le Ciel', 'Al Maram Landmark',
       'ZED Towers', 'Vivienda', 'Entrada', 'Skyline', 'Sky Capital View',
       'Jasmine City', 'Easy Life', 'Town Gate', 'Kayan', 'Bavaria Town',
       'Crystal Plaza', 'Cleopatra Palace', 'Emerald Park',
       'Badya Palm Hills', 'The Capital Way', 'Greens', 'La Vista City',
       'La Verde', 'Palm Hills Katameya', 'Les Rois', 'TRUE Gate',
       'Azalea', 'Al Hayah', 'Gharb Golf', 'Marvel City', 'Lavida',
       'Floria', 'Al Maqsad', 'Kenz', 'Stau', 'Pukka', 'Sueno', 'Vinci',
       'Green Avenue', 'Shorouk Gardens', 'Al Rabwa', 'Arena City Towers',
       'Eshraqa', 'Golden Heights', 'Maadi View', 'East Cairo',
       'Maadi Gardens', 'Tijan', 'Kattameya Palms', 'Maadi Valley',
       'Maadi Grand City', 'Rayhanah Avenue', 'Etoile de Ville',
       'Al Solaimaneyah Golf City', 'County', 'Go Heliopolis',
       'Creek Park', 'Porto Heliopolis', 'Sun Gate', 'Stella New Cairo',
       'Sama', 'Alma', 'Wahet El Ryhan', 'Next Point', 'Bienestar',
       'May Fair', 'Jodran', 'The Key', 'Mirage City', 'Rayhanah Plaza',
       'Seabelle', 'Upside Maadi', 'Rayhanah Residence', 'Lakefront',
       'El Ashgar District', 'Murooj', 'Asmarat Heights', 'Florenta',
       'Golden Heights 2', 'Art City', 'Le Jour', 'Agora',
       'Ethmar Compound', 'Stella Compounds', 'El Ofok El Gadid',
       'EL Patio 2', 'Porto October', 'Villino', 'Jewels', 'Sedra',
       'The Curve', 'Jewar', 'Aeon', 'Jada', 'Cairo Town', 'Azzar',
       'Mashareq', 'New Giza', 'Zayed 2000', 'Bedaya', 'Moon Hillls',
       'Etlalah', 'Joulz', 'Medallion', 'Valore Sheraton', 'Green Yard',
       'Kattameya Residence', 'West Gate', 'Degla Gardens',
       'Continental Gardens', 'Layan', 'Al-Jazeera', 'Anakaji'],
      dtype=object)

In [33]:
lse=list(df['compound'].unique())
lse
lsa=[]

In [ ]:
from deep_translator import GoogleTranslator
GoogleTranslator('auto','en').translate('Hola!')
for i in lse:
    try:
        result = GoogleTranslator('auto','arabic').translate(i)
        lsa.append(result)
        print(result)
    except:
        print('sorry')

In [ ]:
ls=[كمبوند 2020 ، دار مصر ، ألبا ، أبفيل ، الأندلس ، زهرة التجمع ، الهرم سيتي ،
       "الديار" ، "النخيل" ، "لايت سيتي" ، "مدينتي" ، "ستون ريزيدنس" ،
       جاليريا مون فالي ، امورادا ، فيفث سكوير ، البروج ،
       "دريم لاند" ، "ايستاون" ، "جيد" ، "العنوان ايست" ،
       الرياض سيكون، مكانى، اب تاون كايرو، صن سيتى،
       "مدينة البارون" ، "مدينة الرحاب" ، "حدائق زيزينيا" ، "ريتاج" ، "ميفيدا" ،
       "ماونتن فيو آي سيتي" ، "صن سيتي جاردنز" ، "الخمائل" ، "جي سي آر جولف سيتي" ، "هايلاند بارك" ، "سراي" ، "هايد بارك القاهرة الجديدة" ،
       غاليريا ، لاميرادا ، الياسمين ، تاج سلطان ، أصالة ،
       قرية أرابيلا ، سكوير ، سمارت لايف ، آزاد ،
       سكاي فيو بريمير ، فلاورز بارك ، فاميلي سيتي ،
       حياتي ريزيدنس ، ون قطامية ، زهوة ، ريجينتس بارك ،
       الحياة ريزيدنس ، القطامية بلازا ، مينا ريزيدنس ،
       ماونتن فيو هايد بارك ، بروميناد القاهرة الجديدة ، فيلدج جاردنز القطامية ، سوديك ايست ، في جي كيه ، ميدتاون ،]

In [ ]:
indexes_of_Sakan=df.index[df['description'].str.contains('ماونتن فيو هايد بارك')].tolist()
len(indexes_of_Sakan)

# Compound

We replaced nan values to sakan  masr from the known describtion

In [34]:
indexes_of_Sakan=df.index[df['description'].str.contains('سكن مصر')].tolist()
indexes_of_Sakan2=df.index[df['title'].str.contains('سكن مصر')].tolist()

for i in indexes_of_Sakan:
    df['compound'][i]='Sakan Masr'
for i in indexes_of_Sakan2:
     df['compound'][i]='Sakan Masr'

C:\Users\Commandor\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Commandor\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [35]:
for i in indexes_of_Sakan:
    df.loc[i,"compound"]="Sakan Masr"

All sakan masr in  Tgamo3 that's right :)

In [37]:
df[df['location']=='New Cairo - El Tagamoa'][df['compound']=='Sakan Masr']

C:\Users\Commandor\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,url,title,date,location,compound,type,price,area_(m²),bedrooms,level,...,natural_gas,landline,pets_allowed,covered_parking,private_garden,pool,maids_room,central_a/c_&_heating,built_in_kitchen_appliances,month
0,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بسكن مصر الاندلس مسلسل 1,2022-02-28,New Cairo - El Tagamoa,Sakan Masr,Apartment,175000,115,3,3,...,1,1,1,1,1,0,0,0,0,2
1,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس مرحله ١ للبيع شقه دور اول ١١٥,2022-04-14,New Cairo - El Tagamoa,Sakan Masr,Apartment,180000,115,3,1,...,1,0,0,0,0,0,0,0,0,4
2,https://www.olx.com.eg/en/ad/%D9%84%D9%82%D8%B...,لقطه سكن مصر التجمع التالت افر 150 الف,2022-04-28,New Cairo - El Tagamoa,Sakan Masr,Apartment,150000,115,3,2,...,0,0,0,0,0,0,0,0,0,4
4,https://www.olx.com.eg/en/ad/%D9%84%D8%B3%D8%B...,لسرعه البيع شقه سكن مصر التجمع التالت,2022-04-28,New Cairo - El Tagamoa,Sakan Masr,Apartment,160000,115,3,2,...,0,0,0,0,0,0,0,0,0,4
5,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس ١١٥م للبيع بالمرحلة الاولى است...,2022-04-28,New Cairo - El Tagamoa,Sakan Masr,Apartment,190000,115,3,1,...,1,0,0,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15445,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع بسكن مصر التجمع,2022-02-28,New Cairo - El Tagamoa,Sakan Masr,Apartment,310000,115,3,4,...,0,0,0,0,0,0,0,0,0,2
15450,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه بسكن مصر الاندلس القاهرة الجديدة للبيع,2022-04-28,New Cairo - El Tagamoa,Sakan Masr,Apartment,517000,115,3,5,...,1,1,0,0,0,0,0,0,0,4
15451,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع بمشروع سكن مصر اكتوبر الداون تاون,2022-04-07,New Cairo - El Tagamoa,Sakan Masr,Apartment,400000,115,3,4,...,0,0,0,0,0,0,0,0,1,4
15457,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع سكن مصر القاهرة الجديدة,2022-02-28,New Cairo - El Tagamoa,Sakan Masr,Apartment,550000,106,3,Ground,...,1,0,0,0,0,0,0,0,0,2
15458,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر,2022-02-28,New Cairo - El Tagamoa,Sakan Masr,Apartment,530000,115,3,5,...,0,0,0,0,0,0,0,0,0,2

In [ ]:
df[(df['compound'].isna()) & (df['location']=='New Cairo - El Tagamoa')]

In [ ]:
df[df['location']=='Gesr Al Suez']

In [ ]:
indexes_of_Sakan=df.index[df['description'].str.contains('جسر السويس')].tolist()
indexes_of_Sakan2=df.index[df['title'].str.contains('جسر السويس')].tolist()

x=len(indexes_of_Sakan)+len(indexes_of_Sakan2)
x-1214

# Location errors

In [ ]:
list_of_locations=df['location'].unique().tolist()
list_of_locations

In [ ]:
list_of_english_locations

In [ ]:
loc1 = ['التجمع','مدينتي','العاصمه','مدينة نصر','الرحاب','الشروق','معادي','العبور','مصر الجديده','زهراء المعادي','مقطم','عين شمس','جسر السويس','بدر','وسط البلد','حلوان','مدينة المستقبل','حلمية الزاتون','شيراتون','مدينة السلام','النزهه الجديده','قطاميه','شبرا','حدائق القبه','حدائق حلوان','مطريه','المرج','دار السلام','عزبة النخل','الزاويه الحمرا','الوايلي','المنيل','الزمالك','الماظه','عباسيه','سيده زينب','بستين','الامريه','15 مايو']
loc2 = ['New Cairo - El Tagamoa','Madinaty','New Capital City','Nasr City','Rehab City','Shorouk City','Maadi','Obour City','Heliopolis','Zahraa Al Maadi','Mokattam','Ain Shams','Gesr Al Suez','Badr City','Downtown Cairo','Helwan','Mostakbal City','Helmeyat El Zaytoun','Sheraton','Salam City','New Nozha','Katameya','Shubra','Hadayek al-Kobba','Hadayek Helwan','Matareya','Marg','Dar al-Salaam','Ezbet El Nakhl','Zawya al-Hamra','Waili','Al Manial','Zamalek','Almazah','Abasiya','Sayeda Zeinab','Basateen','Al Amiriyyah','15 May City']
mini_map = dict(zip(loc2, loc1))
mini_map
list_of_locations

In [ ]:
df['location'].value_counts()

In [ ]:
def check_loc(row, col):
    if mini_map.get(col, 'none') in row['description'] or mini_map.get(col, 'none') in row['title'] :
        return col
    else:
        return row['location']

for col in list_of_locations:
    df['location'] = df.apply(check_loc, args=[col], axis=1)

In [ ]:
df['location'].value_counts()

In [ ]:
def newHtoH(row):
    if row['location'] == 'New Heliopolis' :
        return 'Heliopolis'
    else:
        return row['location']

df['location'] = df.apply(newHtoH, axis=1)

In [ ]:
df['location'].value_counts()

In [ ]:
indexes_of_Sakan2=df.index[df['title'].str.contains('الشروق')].tolist()
len(indexes_of_Sakan2)
# for i in indexes_of_Sakan2es_of_Sakan2:
#     df['title'][indexes_of_Sakan2[i]]

Creating database  called ReelStates

# DataBase

Creating a database with the columns  of dataframe

In [ ]:


# mydb = mysql.connector.connect(
#   host="localhost",
#   user="root",
#   password="mahmoud2001",
#   database="reelstates"

# )
# mycursor = mydb.cursor()

In [ ]:
# mycursor.execute("CREATE DATABASE ReelStates")

In [ ]:
# mycursor.execute("CREATE TABLE dataset (url VARCHAR(255), title VARCHAR(255), date DATE, Bedrooms VARCHAR(255),Price INT, Payment_Option VARCHAR(255), Furnished VARCHAR(255),Area VARCHAR(255),Compound VARCHAR(255),Description VARCHAR(255),Amenities  VARCHAR(255),Delivery_Date VARCHAR(255),Down_Payment VARCHAR(255),Location VARCHAR(255),Electricity_Meter BOOLEAN, Balcony BOOLEAN, Water_Meter BOOLEAN, Elevator BOOLEAN, Security BOOLEAN, Natural_Gas BOOLEAN, Landline BOOLEAN, Pets_Allowed BOOLEAN, Covered_Parking BOOLEAN, Private_Garden BOOLEAN, Pool BOOLEAN, Maids_Room BOOLEAN, Central_AC_heating BOOLEAN, Built_in_Kitchen_Appliances BOOLEAN)")
# #mycursor.execute("DROP TABLE dataset ")

In [ ]:
df.info()

In [ ]:
# for col in dict_x:
#     url = df[country]
#     title = col['title']
#     deaths = col['Deaths']
    
    
    
    
    
# #     sql = 'INSERT INTO covid (country_name, deaths, confirmed) VALUES (?,?,?)'
# #     covid_data = [country_name, deaths, confirmed]
# #     cursor = conn.execute(sql, covid_data)
    
# # conn.commit()
# # conn.close()

Important packages to download\
pip install mysqlclient\
pip install sqlalchemy\
pip install  pymysql

Converting Dataframe to sql Table :)

In [ ]:
# from sqlalchemy import create_engine

# engine = create_engine("mysql://root:mahmoud2001@localhost/reelstates" )
# df.to_sql('final_data', con = engine, if_exists = 'append',index = True)

In [ ]:
# engine.execute("DROP TABLE final_data")

In [ ]:
# df.to_csv (r'olx_data_With_Cleaning.csv', index = False, header=True,encoding='utf-8')

In [ ]:
# imputer = SimpleImputer(strategy='most_frequent')
# imputer2 = SimpleImputer(strategy='constant',fill_value="none")
# df[['Payment Option']] = imputer.fit_transform(df[['Payment Option']])
# df[['Furnished']] = imputer.fit_transform(df[['Furnished']])
# df[['Compound']] = imputer2.fit_transform(df[['Compound']])
# df[['Delivery Date']] = imputer2.fit_transform(df[['Delivery Date']])
# df[['Compound']] = imputer2.fit_transform(df[['Compound']])
# df[['Down Payment']] = imputer2.fit_transform(df[['Down Payment']])