In this problem i scraaped a data from a public website to sell properties or any thing u want 
i scrapped the appartments in cairo with its districts to predict the good price with the apartment features to list it

In [1]:
import joblib
import time
import mysql.connector
from datetime import date
from dateutil.relativedelta import relativedelta
from datetime import datetime, timedelta
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer

In [ ]:
#ads,url_stack=joblib.load('state.pkl')

In [ ]:

# df=pd.DataFrame.from_records(ads)
# df

df = pd.read_csv('olx_data_36K_V2.csv')
df

In [ ]:
df.info()

In [ ]:
df['date']

Working with the date column to make the date from "1 month ago "  to "22/5/20122"

In [ ]:
def date_correct(x):

    after_split= x.split(' ')
    if ('days' or 'day') in after_split[1]:
        listing_date = date.today() + relativedelta(days=-int(after_split[0]))
        return(str(listing_date))
    
    elif ('months' or 'month') in after_split[1] :
        listing_date = date.today() + relativedelta(months=-int(after_split[0]))
        
        return(str(listing_date))
    elif('weeks' or 'week') in after_split[1] :
        listing_date = date.today() + relativedelta(weeks=-int(after_split[0]))
        return(str(listing_date))
    else :  
        return(str(date.today()))

In [ ]:
df['date'] = df['date'].apply(date_correct)

In [ ]:
df['date']

Convert date to datetime object

In [ ]:
df['date']=pd.to_datetime(df['date'],format='%Y/%m/%d')

Extract month from column date

In [ ]:
df['month']=df['date'].apply(lambda x: x.month)

In [ ]:
df.info()

All coulmns 00000000

In [ ]:
df[['Electricity Meter', 'Balcony','Water Meter','Elevator',
        'Security','Natural Gas','Landline','Pets Allowed','Covered Parking',
        'Private Garden','Pool','Maids Room','Central A/C & heating',
    'Built in Kitchen Appliances']] = pd.Series([0,0,0,0,0,0,0,0,0,0,0,0,0,0])

df

In [ ]:
# df.rename({'Area_(m²)': 'Area'},inplace=True)
df.columns = df.columns.str.replace(' ','_')
df.rename(columns = {'area_(m²)':'Area','central_a/c_&_heating':'Central_AC_heating'}, inplace = True)
df.columns = df.columns.str.lower()
df.info()

In [ ]:
df.isna().sum()

In [ ]:
df['amenities'].isna().sum()

In [ ]:
df['payment_option'].unique()

In [ ]:
df['delivery_date'].unique()

In [ ]:
df['delivery_date'].value_counts()

In [ ]:
df['furnished'].value_counts()

In [ ]:
df['delivery_term'].value_counts()

In [ ]:
df.isna().sum()

In [ ]:
df['down_payment'].unique()

Amenities extraction and make nan values = '''' to make it All false

# Filling missing Values  loading
all missing values filling written here

## amenities

convert the values to intgeres to enter it to the knn\ the knn algorithim convert it ti float then work

In [ ]:
df['delivery_term'].replace('Finished',1, inplace=True)
df['delivery_term'].replace('Not Finished',0 ,inplace = True)
df['delivery_term'].replace('Semi Finished',0.5 ,inplace = True)
df['delivery_term'].replace('Core & Shell',0.75 ,inplace = True)

In [ ]:
df['amenities'].isna().sum()
imputer = SimpleImputer(strategy='constant',fill_value='')

imputer2 = SimpleImputer(strategy='constant',fill_value='Cash')
imputer3 = SimpleImputer(strategy='constant',fill_value='Ready to move')
imputer4 = SimpleImputer(strategy='constant',fill_value=0)
imputer5 = SimpleImputer(strategy='most_frequent')
imputer6 = KNNImputer(n_neighbors=4)

df[['amenities']] = imputer.fit_transform(df[['amenities']])
df[['delivery_date']] = imputer3.fit_transform(df[['delivery_date']])
df[['down_payment']] = imputer4.fit_transform(df[['down_payment']])
df['furnished'] = imputer5.fit_transform(df[['furnished']])

df['delivery_term'] = imputer6.fit_transform(df[['delivery_term']])
df[['payment_option']] = imputer2.fit_transform(df[['payment_option']])

In [ ]:
df["down_payment"] = [float(str(i).replace(",", "")) for i in df["down_payment"]]
df['down_payment']=df['down_payment'].astype(int)

In [ ]:
df['delivery_term'].astype(str)
df['delivery_term'].replace(1,'Finished', inplace=True)
df['delivery_term'].replace(0,'Not Finished' ,inplace = True)
df['delivery_term'].replace(0.5,'Semi Finished' ,inplace = True)
df['delivery_term'].replace(0.75,'Core & Shell' ,inplace = True)
df['delivery_term'].replace(0.778374202749277,'Core & Shell',inplace = True)

In [ ]:
df['delivery_term'].value_counts()

In [ ]:
df['amenities'].isna().sum()

Location handling by comaprre it in describtion and title

In [ ]:
list_ament=['Electricity Meter', 'Balcony','Water Meter','Elevator',
            'Security','Natural Gas','Landline','Pets Allowed','Covered Parking',
            'Private Garden','Pool','Maids Room','Central A/C & heating',
            'Built in Kitchen Appliances']
list_ament2=[]
for i in list_ament:
    i = i.replace(' ','_')
    i= i.lower()
    list_ament2.append(i)
   

ls1 = ['مياة', 'عداد كهرباء','غاز','تكييف مركزي','مصعد','حمام سباحه','جاردن','بلكونة']
ls2 = ['Water Meter', 'Electricity Meter', 'Natural Gas','Central A/C & heating','Elevator','Pool','Private Garden','Balcony']
mny_map = dict(zip(ls2, ls1))

def check_amenity(row, col):
    if col in row['amenities'] or mny_map.get(col, 'none') in row['description'] :
        return 1
    else:
        return 0

for col in list_ament2:
    df[col] = df.apply(check_amenity, args=[col], axis=1)

In [ ]:
for x in list_ament:
    df[x]=df[x].replace(True,1)
    df[x]=df[x].replace(False,0)
df.info()

In [ ]:
mny_map.get('Water Meter','none')

In [ ]:
df['Water Meter'].value_counts()

In [ ]:
df.info()

Replacing Price value in column Price Type to Not Negotiable

In [ ]:
df['price_type'].unique()

In [ ]:
df['price_type'] = [i.replace("Price", "Not Negotiable") for i in df['price_type']]

In [ ]:
df['price_type'].unique()

## Compound

We replaced nan values to sakan  masr from the known describtion

In [ ]:
indexes_of_Sakan=df.index[df['description'].str.contains('سكن مصر')].tolist()
indexes_of_Sakan2=df.index[df['title'].str.contains('سكن مصر')].tolist()

for i in indexes_of_Sakan:
    df['compound'][i]='Sakan Masr'
for i in indexes_of_Sakan2:
     df['compound'][i]='Sakan Masr'

In [ ]:
for i in indexes_of_Sakan:
    df.loc[i,"compound"]="Sakan Masr"

All sakan masr in  Tgamo3 that's right :)

In [ ]:
df[df['location']=='New Cairo - El Tagamoa'][df['compound']=='Sakan Masr']

In [ ]:
df[(df['compound'].isna()) & (df['location']=='New Cairo - El Tagamoa')]

# Location errors

In [ ]:
list_of_arabic_locations=['الشروق','مدينتي','العاشر من رمضان','الوايلي','المرج','عزبة النخل','الماظة','15 مايو','المطرية','مطرية'
                         ,'وايلي','السيدة زينب','سيدة زينب','المنيل','منيل','عباسية','العباسية','زاويه','الزاوية','زاوية','الزاويه',
                         'عزبة النخل','عين شمس','مصر الجديدة','قطامية',
                         'نزهة','حدائق المعادي','حدايق المعادي','حدائق حلوان','حدايق حلوان'
                         ,'شبرا'
                         ,'دار السلام','مرج','حدائق القبة','حدايق القبة','بساتين','زمالك','شيراتون','مدينة السلام','حلمية الزيتون','حلميه الزيتون','الشروق',
                          'عباسيه','المطريه','مطريه',
                         'مدينتى','مدينة نصر','الرحاب',
                          'الزتون','المعادى','المعادي','العبور','زهراء مدينة','زهراء المعادي','مقطم','جسر السويس','مدينة بدر','وسط البلد','مدينة المستقبل'
                         ,'عاصمه','عاصمة','العاصمه','العاصمة','التجمع','حدايق القبه','المنيل','القطاميه'
                          ,'قطاميه','السيده زينب','سيده زينب'
                          ,'العباسيه']
list_of_arabic_locations
list_of_english_locations=list_of_locations
# list_of_english_locations.append('New Cairo')
list_of_english_locations

In [ ]:
 for y in list_of_english_locations:
            df[(df['title'].str.contains(y)) | (df['description'].str.contains(y))]
            df['location'][i]=y

#             for z in list_of_arabic_locations:
#                 df[(df['title'].str.contains(z)) | (df['description'].str.contains(z))]
#                     df['location'][i]=z

In [ ]:
list_of_english_locations

In [ ]:
loc1 = ['التجمع','مدينتي','العاصمه','مدينة نصر','الرحاب','الشروق','معادي','العبور','مصر الجديده','زهراء المعادي','مقطم','عين شمس','جسر السويس','بدر','وسط البلد','حلوان','مدينة المستقبل','حلمية الزاتون','شيراتون','مدينة السلام','النزهه الجديده','قطاميه','شبرا','حدائق القبه','حدائق حلوان','مطريه','المرج','دار السلام','عزبة النخل','الزاويه الحمرا','الوايلي','المنيل','الزمالك','الماظه','عباسيه','سيده زينب','بستين','الامريه','15 مايو']
loc2 = ['New Cairo - El Tagamoa','Madinaty','New Capital City','Nasr City','Rehab City','Shorouk City','Maadi','Obour City','Heliopolis','Zahraa Al Maadi','Mokattam','Ain Shams','Gesr Al Suez','Badr City','Downtown Cairo','Helwan','Mostakbal City','Helmeyat El Zaytoun','Sheraton','Salam City','New Nozha','Katameya','Shubra','Hadayek al-Kobba','Hadayek Helwan','Matareya','Marg','Dar al-Salaam','Ezbet El Nakhl','Zawya al-Hamra','Waili','Al Manial','Zamalek','Almazah','Abasiya','Sayeda Zeinab','Basateen','Al Amiriyyah','15 May City']
mini_map = dict(zip(loc2, loc1))
mini_map

In [ ]:
df['location'].value_counts()

In [ ]:
def check_loc(row, col):
    if (mini_map.get(col, 'none') in row['description']) or (mini_map.get(col, 'none') in row['title']) :
        return col
    else:
        return row['location']

for col in list_of_locations:
    df['location'] = df.apply(check_loc, args=[col], axis=1)

In [ ]:
df['location'].value_counts()

In [ ]:
def newHtoH(row):
    if row['location'] == 'New Heliopolis' :
        return 'Heliopolis'
    else:
        return row['location']

df['location'] = df.apply(newHtoH, axis=1)

In [ ]:
df['location'].value_counts()

In [ ]:
# indexes_of_Sakan2=df.index[df['title'].str.contains('حدايق')].tolist()
# indexes_of_Sakan2
# df[df['title'].str.contains('قطامية')]

# df[df['location']=='Heliopolis']

In [ ]:
df.isna().sum()

In [ ]:
df['description'].iloc[0]

In [ ]:
df[df['delivery_date'].isna()]['description'].iloc[5]

In [ ]:
df['delivery_date'].unique()

In [ ]:
df.drop(['url'], axis = 1, inplace = True)

converting Price from string to integers and thier was a problem with 100','000 this comma so we tried to replace it with non space to make it convertable

In [ ]:
df["price"] = [float(str(i).replace(",", "")) for i in df["price"]]
df['price']=df['price'].astype(int)
df.info()

In [ ]:
df['price'].astype(int)
df.info()

In [ ]:
df.info()

Creating database  called ReelStates

# DataBase

Creating a database with the columns  of dataframe

In [ ]:


# mydb = mysql.connector.connect(
#   host="localhost",
#   user="root",
#   password="mahmoud2001",
#   database="reelstates"

# )
# mycursor = mydb.cursor()

In [ ]:
# mycursor.execute("CREATE DATABASE ReelStates")

In [ ]:
# mycursor.execute("CREATE TABLE dataset (url VARCHAR(255), title VARCHAR(255), date DATE, Bedrooms VARCHAR(255),Price INT, Payment_Option VARCHAR(255), Furnished VARCHAR(255),Area VARCHAR(255),Compound VARCHAR(255),Description VARCHAR(255),Amenities  VARCHAR(255),Delivery_Date VARCHAR(255),Down_Payment VARCHAR(255),Location VARCHAR(255),Electricity_Meter BOOLEAN, Balcony BOOLEAN, Water_Meter BOOLEAN, Elevator BOOLEAN, Security BOOLEAN, Natural_Gas BOOLEAN, Landline BOOLEAN, Pets_Allowed BOOLEAN, Covered_Parking BOOLEAN, Private_Garden BOOLEAN, Pool BOOLEAN, Maids_Room BOOLEAN, Central_AC_heating BOOLEAN, Built_in_Kitchen_Appliances BOOLEAN)")
# #mycursor.execute("DROP TABLE dataset ")

In [ ]:
df.info()

In [ ]:
# for col in dict_x:
#     url = df[country]
#     title = col['title']
#     deaths = col['Deaths']
    
    
    
    
    
# #     sql = 'INSERT INTO covid (country_name, deaths, confirmed) VALUES (?,?,?)'
# #     covid_data = [country_name, deaths, confirmed]
# #     cursor = conn.execute(sql, covid_data)
    
# # conn.commit()
# # conn.close()

Important packages to download\
pip install mysqlclient\
pip install sqlalchemy\
pip install  pymysql

Converting Dataframe to sql Table :)

In [ ]:
from sqlalchemy import create_engine

engine = create_engine("mysql://root:mahmoud2001@localhost/reelstates" )
df.to_sql('final_data', con = engine, if_exists = 'append',index = True)

In [ ]:
# engine.execute("DROP TABLE final_data")

In [ ]:
df.to_csv (r'olx_data_With_Cleaning.csv', index = False, header=True,encoding='utf-8')

In [ ]:
imputer = SimpleImputer(strategy='most_frequent')
imputer2 = SimpleImputer(strategy='constant',fill_value="none")
df[['Payment Option']] = imputer.fit_transform(df[['Payment Option']])
df[['Furnished']] = imputer.fit_transform(df[['Furnished']])
df[['Compound']] = imputer2.fit_transform(df[['Compound']])
df[['Delivery Date']] = imputer2.fit_transform(df[['Delivery Date']])
df[['Compound']] = imputer2.fit_transform(df[['Compound']])
df[['Down Payment']] = imputer2.fit_transform(df[['Down Payment']])